<div>
  <div>
    <h3>Edit Employer Account</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <label for="profileImage"></label>
        </div>
        <input type="file" name="profileImage" id="profileImage" placeholder="Change Profile Image" (change)="onFileChange($event)">
      </div>
      <button type="submit">Update Account</button>
    </form>
  </div>
</div>
<div *ngIf="imglink != ''">
  <img [src]="imglink" alt="">
</div>
<router-outlet />
